{{ define "main" }}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <form action="{{ .Site.Params.contact_form_action }}" method="POST" class="bg-dark p-lg-5 p-4 row">
          <div class="col-12">
            <h2 class="section-title">{{ .Title | markdownify }}</h2>
          </div>
          <div class="form-group col-md-6">
            <label for="first-name">{{ i18n "first_name"}}</label>
            <input type="text" name="first-name" id="first-name" class="form-control" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="last-name">{{ i18n "last_name"}}</label>
            <input type="text" name="last-name" id="last-name" class="form-control" placeholder="Family Name">
          </div>
          <div class="form-group col-md-6">
            <label for="email">{{ i18n "email"}}</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="your.email@gmail.com">
          </div>
          <div class="form-group col-md-6">
            <label for="subject">{{ i18n "subject"}}</label>
            <input type="text" name="subject" id="subject" class="form-control" placeholder="Project Request">
          </div>
          <div class="form-group col-12">
            <label for="message">{{ i18n "message"}}</label>
            <textarea name="message" id="message" class="form-control"
              placeholder="Some very important message..."></textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">{{ i18n "send"}}<i class="ti-arrow-right ml-2"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}
